<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= errorStatus %> - Error</h1>
  <ul>
  <% if (locals.errors) {%>
    <% locals.errors.forEach((error) => { %>
      <li style="color: red;"><%= error.msg %></li>
    <%})%>
  <% } %>
  <button onclick="window.history.back()">Go Back</button>

  </ul>
</body>
</html>